#characters {
    float: left;
    padding: 10px;
    width: 70%;
}

#leaderboard {
    float: right;
    width: 20%;
    padding: 10px;
}

.dead, .alive {
    float: left;
    padding: 7px;
    height: 200px;
    overflow: hidden;
}

.dead {
    opacity: .35;
}

img {
    width: 300px;
}