#characters {
    float: left;
    padding: 10px;
    width: 70%;
}

#leaderboard {
    float: right;
    width: 20%;
    padding: 10px;
}

.dead, .alive {
    float: left;
    padding: 7px;
    height: 200px;
    overflow: hidden;
}

.dead {
    opacity: .35;
}

h4 {
    margin: 10px 0 0;
}

h6 {
    color: gray;
    padding: 0 10%;
}

img {
    width: 300px;
}

div.quote {
    position: relative;
    bottom: 60px;
    color: #fff;
    width: 285px;
    font-style: italic;
    font-size: 15px;
    margin: 0 10px;
}

hr {
    clear: right;
}